In [1]:
import pandas as pd

In [6]:
data = {'time_stamp': ['2014-05-01 18:47:05.069', '2014-05-01 18:47:05.119', '2014-05-02 18:47:05.230',],
        'col_a': [34, 25, 26],
        'col_b' : [21,32,43]}
df = pd.DataFrame(data, columns = ['time_stamp', 'col_a', 'col_b'])

In [7]:
print(df)

                time_stamp  col_a  col_b
0  2014-05-01 18:47:05.069     34     21
1  2014-05-01 18:47:05.119     25     32
2  2014-05-02 18:47:05.230     26     43

In [5]:
ts = pd.to_datetime("2014-05-04 18:47:05.487", format="%Y-%m-%d %H:%M:%S.%f")
new_row = pd.DataFrame([[11]], columns = ["col_a"], index=[ts])
df1 = pd.concat([df, pd.DataFrame(new_row)], ignore_index=False)
print(df1)

                                         time_stamp  col_a  col_b
0                           2014-05-01 18:47:05.069     34   21.0
1                           2014-05-01 18:47:05.119     25   32.0
2                           2014-05-02 18:47:05.230     26   43.0
2014-05-04 18:47:05.487000                      NaN     11    NaN

In [8]:
tmpdf = pd.DataFrame({"var":[77,88,99]},index=pd.date_range("2020-03-10",periods=3,freq='D'))
for i in range(1,21):
    idx = tmpdf.tail(1).index[0] + pd.Timedelta(days=1)
    tmpdf.loc[idx] = i*i

In [9]:
pd.DataFrame()

            var
2020-03-10   77
2020-03-11   88
2020-03-12   99
2020-03-13    1
2020-03-14    4
2020-03-15    9
2020-03-16   16
2020-03-17   25
2020-03-18   36
2020-03-19   49
2020-03-20   64
2020-03-21   81
2020-03-22  100
2020-03-23  121
2020-03-24  144
2020-03-25  169
2020-03-26  196
2020-03-27  225
2020-03-28  256
2020-03-29  289
2020-03-30  324
2020-03-31  361
2020-04-01  400

In [10]:
new_row

                         col_a
2014-05-04 18:47:05.487     11