In [1]:
# initialization for my classroom
import os
from datetime import datetime as dt

def logfile(user=os.environ.get('JUPYTERHUB_USER') or 'jovyan'):
    prefix='/srv'
    if os.path.isdir(prefix) and os.access(prefix, os.W_OK):
        prefix+=('/'+user)
        if not os.path.isdir(prefix):
            os.makedirs(prefix)
    else:
        prefix='.'
    return prefix+'/'+dt.now().strftime('%Y%m%d')+'.log'

path=logfile()
#%logstop
%logstart -otq $path append

# [python - cannot override sys.excepthook - Stack Overflow](https://stackoverflow.com/questions/1261668/cannot-override-sys-excepthook/28758396)
# https://github.com/ipython/ipython/blob/e6432249582e05f438303ce73d082a0351bb383e/IPython/core/interactiveshell.py#L1952

import sys
import traceback
import IPython

try:
    _showtraceback
except NameError:
    _showtraceback=IPython.core.interactiveshell.InteractiveShell.showtraceback

try:
    _showsyntaxerror
except NameError:
    _showsyntaxerror=IPython.core.interactiveshell.InteractiveShell.showsyntaxerror

import logging
logging.basicConfig(filename=path.replace('.log','-exc.log'), format='%(asctime)s %(message)s', level=logging.ERROR, force=True)

import sys
import traceback
import IPython

def showtraceback(self, *args, **kwargs):
    etype, value, tb = self._get_exc_info(kwargs.get('exc_tuple'))
    stb = self.InteractiveTB.structured_traceback(
        etype, value, tb, tb_offset=kwargs.get('tb_offset'))
    logging.error(os.environ.get('JUPYTERHUB_USER') or 'jovyan')
    logging.error(self.InteractiveTB.stb2text(stb))
    _showtraceback(self, *args, **kwargs)

def showsyntaxerror(self, *args, **kwargs):
    etype, value, last_traceback = self._get_exc_info()
    elist = traceback.extract_tb(last_traceback) if kwargs.get('running_compiled_code') else []
    stb = self.SyntaxTB.structured_traceback(etype, value, elist)
    logging.error(os.environ.get('JUPYTERHUB_USER') or 'jovyan')
    logging.error(self.InteractiveTB.stb2text(stb))
    _showsyntaxerror(self, *args, **kwargs)

IPython.core.interactiveshell.InteractiveShell.showtraceback = showtraceback
IPython.core.interactiveshell.InteractiveShell.showsyntaxerror = showsyntaxerror

# 課題-3) Plimpton 322 に記載された数表を補完する

In [1]:
import math
import itertools

In [3]:
def generate_p(i_max=2, j_max=2, k_max=2):
    l = []
    for i in range(i_max):
        for j in range(j_max):
            for k in range(k_max):
                l.append(2**i * 3**j * 5**k)
    return sorted(l)

generate_p()

[1, 2, 3, 5, 6, 10, 15, 30]

In [4]:
def generate_p(i_max=2, j_max=2, k_max=2):
    for i in range(i_max):
        for j in range(j_max):
            for k in range(k_max):
                yield 2**i * 3**j * 5**k

generate_p()

In [7]:
sorted(generate_p())

[1, 2, 3, 5, 6, 10, 15, 30]

In [16]:
list(itertools.product(range(2),range(2),range(2)))

[(0, 0, 0),
 (0, 0, 1),
 (0, 1, 0),
 (0, 1, 1),
 (1, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (1, 1, 1)]

In [20]:
import itertools

def generate_p(i_max=2, j_max=2, k_max=2):
    for i,j,k in itertools.product(range(i_max),range(j_max),range(k_max)):
        yield 2**i * 3**j * 5**k

generate_p()

In [14]:
sorted(generate_p())

[1, 2, 3, 5, 6, 10, 15, 30]

In [19]:
[2**i * 3**j * 5**k for i,j,k in itertools.product(range(2),range(2),range(2))]

[1, 5, 3, 15, 2, 10, 6, 30]

In [22]:
pp = itertools.product(generate_p(), generate_p())

list(pp)

[(1, 1),
 (1, 5),
 (1, 3),
 (1, 15),
 (1, 2),
 (1, 10),
 (1, 6),
 (1, 30),
 (5, 1),
 (5, 5),
 (5, 3),
 (5, 15),
 (5, 2),
 (5, 10),
 (5, 6),
 (5, 30),
 (3, 1),
 (3, 5),
 (3, 3),
 (3, 15),
 (3, 2),
 (3, 10),
 (3, 6),
 (3, 30),
 (15, 1),
 (15, 5),
 (15, 3),
 (15, 15),
 (15, 2),
 (15, 10),
 (15, 6),
 (15, 30),
 (2, 1),
 (2, 5),
 (2, 3),
 (2, 15),
 (2, 2),
 (2, 10),
 (2, 6),
 (2, 30),
 (10, 1),
 (10, 5),
 (10, 3),
 (10, 15),
 (10, 2),
 (10, 10),
 (10, 6),
 (10, 30),
 (6, 1),
 (6, 5),
 (6, 3),
 (6, 15),
 (6, 2),
 (6, 10),
 (6, 6),
 (6, 30),
 (30, 1),
 (30, 5),
 (30, 3),
 (30, 15),
 (30, 2),
 (30, 10),
 (30, 6),
 (30, 30)]

In [23]:
pp = itertools.product(generate_p(), repeat=2)

list(pp)

[(1, 1),
 (1, 5),
 (1, 3),
 (1, 15),
 (1, 2),
 (1, 10),
 (1, 6),
 (1, 30),
 (5, 1),
 (5, 5),
 (5, 3),
 (5, 15),
 (5, 2),
 (5, 10),
 (5, 6),
 (5, 30),
 (3, 1),
 (3, 5),
 (3, 3),
 (3, 15),
 (3, 2),
 (3, 10),
 (3, 6),
 (3, 30),
 (15, 1),
 (15, 5),
 (15, 3),
 (15, 15),
 (15, 2),
 (15, 10),
 (15, 6),
 (15, 30),
 (2, 1),
 (2, 5),
 (2, 3),
 (2, 15),
 (2, 2),
 (2, 10),
 (2, 6),
 (2, 30),
 (10, 1),
 (10, 5),
 (10, 3),
 (10, 15),
 (10, 2),
 (10, 10),
 (10, 6),
 (10, 30),
 (6, 1),
 (6, 5),
 (6, 3),
 (6, 15),
 (6, 2),
 (6, 10),
 (6, 6),
 (6, 30),
 (30, 1),
 (30, 5),
 (30, 3),
 (30, 15),
 (30, 2),
 (30, 10),
 (30, 6),
 (30, 30)]

In [26]:
pq = []
for p, q in itertools.product(generate_p(), repeat=2):
    if p > q and math.gcd(p,q) ==1:
        if p/q >= 9/5 and p/q <= 12/5:
            pq.append((p,q))

pq

[(2, 1)]

In [33]:
pq = []
for p, q in itertools.product(generate_p(4,3,2), repeat=2):
    if p > q and math.gcd(p,q) ==1:
        if p/q >= 9/5 and p/q <= 12/5:
            pq.append((p,q))

pq

[(2, 1), (9, 4), (9, 5), (12, 5), (15, 8), (20, 9)]

In [34]:
sorted(pq, reverse=True, key=lambda x: x[0]/x[1])

[(12, 5), (9, 4), (20, 9), (2, 1), (15, 8), (9, 5)]

In [29]:
len(list(itertools.product(generate_p(), repeat=2)))

64

In [26]:
len(list(filter(lambda x: x[0]>x[1], itertools.product(generate_p(), repeat=2))))

28

In [43]:
import math
len(list(filter(lambda x: x[0]>x[1] and math.gcd(x[0],x[1])==1, itertools.product(generate_p(), repeat=2))))

13

In [32]:
len(list(itertools.product(generate_p(4,3,5), repeat=2)))

3600

In [36]:
len(list(filter(lambda x: x[0]>x[1], itertools.product(generate_p(4,3,2), repeat=2))))

276

In [37]:
import math
len(list(filter(lambda x: x[0]>x[1] and math.gcd(x[0],x[1]==1), itertools.product(generate_p(4,3,2), repeat=2))))

276

In [42]:
import math
len(list(filter(lambda x: x[0]/x[1] >= 9/5 and x[0]/x[1] <= 12/5,
                filter(lambda x: x[0]>x[1] and math.gcd(x[0],x[1])==1, 
                       itertools.product(generate_p(4,3,2), repeat=2)))))

6

In [41]:
import math
list(filter(lambda x: x[0]/x[1] >= 9/5 and x[0]/x[1] <= 12/5,
            filter(lambda x: x[0]>x[1] and math.gcd(x[0],x[1])==1, 
                   itertools.product(generate_p(4,3,2), repeat=2))))

[(15, 8), (9, 5), (9, 4), (2, 1), (20, 9), (12, 5)]

課題-2) Plimton 322の数表を求める関数 `plimpton322()` を定義せよ:
* 引数 i_max, j_max, k_max を取り、デフォルト値はそれぞれ 2 とする
* `generate_p(i_max, j_max, k_max)` の直積の要素 `p, q` のうち、次の条件を満たすものを抜き出す
  - `p > q`
  - `math.gcd(p,q) == 1` (互いに素)
  - `p/q >= 9/5`
  - `p/q <= 12/5`
* 戻り値は、`p/q` をキーとして降順で返す

In [45]:
def plimpton322(i_max=2, j_max=2, k_max=2):
    ### BEGIN SOLUTION
    pq = []
    for p, q in itertools.product(generate_p(i_max,j_max,k_max), repeat=2):
        if p > q and math.gcd(p,q) ==1:
            if p/q >= 9/5 and p/q <= 12/5:
                pq.append((p,q))

    return sorted(pq, reverse=True, key=lambda x: x[0]/x[1])
    ### END SOLUTION

In [45]:
plimpton322()

[(2, 1)]

In [46]:
plimpton322(4,3,2)

[(12, 5), (9, 4), (20, 9), (2, 1), (15, 8), (9, 5)]

In [49]:
for p, q in plimpton322(4,3,2):
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    print((d/a)**2, b, d)

1.983402777777778 119 169
1.815007716049383 65 97
1.7851929012345678 319 481
1.5625 3 5
1.450017361111111 161 289
1.3871604938271607 56 106

In [47]:
import pandas as pd
import requests

res = requests.get("https://en.wikipedia.org/wiki/Plimpton_322").text

df2=pd.read_html(res)[1]
df2

             or Short Side Diagonal  Row #
0   (1).9834028        119      169      1
1   (1).9491586       3367     4825      2
2   (1).9188021       4601     6649      3
3   (1).8862479      12709    18541      4
4   (1).8150077         65       97      5
5   (1).7851929        319      481      6
6   (1).7199837       2291     3541      7
7   (1).6927094        799     1249      8
8   (1).6426694        481      769      9
9   (1).5861226       4961     8161     10
10     (1).5625        45*      75*     11
11  (1).4894168       1679     2929     12
12  (1).4500174        161      289     13
13  (1).4302388       1771     3229     14
14  (1).3871605        56*     106*     15

In [55]:
import numpy as np
import pandas as pd
from fractions import Fraction
l = []
for p, q in plimpton322(4,3,2):
    a = 2 * p * q
    b = p**2 - q**2
    d = p**2 + q**2
    l.append((Fraction(b+d,a), Fraction(d-b,a), Fraction(2*b,a), a, b, d))
l

[(Fraction(12, 5), Fraction(5, 12), Fraction(119, 60), 120, 119, 169),
 (Fraction(9, 4), Fraction(4, 9), Fraction(65, 36), 72, 65, 97),
 (Fraction(20, 9), Fraction(9, 20), Fraction(319, 180), 360, 319, 481),
 (Fraction(2, 1), Fraction(1, 2), Fraction(3, 2), 4, 3, 5),
 (Fraction(15, 8), Fraction(8, 15), Fraction(161, 120), 240, 161, 289),
 (Fraction(9, 5), Fraction(5, 9), Fraction(56, 45), 90, 56, 106)]

In [68]:
df = pd.DataFrame(l, columns=['(b+d)/a', '(b-d)/a', '2(b/a)', 'a', 'b', 'd'])

In [69]:
df

  (b+d)/a (b-d)/a   2(b/a)    a    b    d
0    12/5    5/12   119/60  120  119  169
1     9/4     4/9    65/36   72   65   97
2    20/9    9/20  319/180  360  319  481
3       2     1/2      3/2    4    3    5
4    15/8    8/15  161/120  240  161  289
5     9/5     5/9    56/45   90   56  106

---
以下、採点用のセルにつき編集できない:

In [40]:
from nose.tools import assert_equal, assert_true

In [43]:
assert_equal(plimpton322(), [(2, 1)])

In [42]:
assert_equal(plimpton322(4,3,2), [(12, 5), (9, 4), (20, 9), (2, 1), (15, 8), (9, 5)])