# Plimpton322 の解読

古代メソポタミア (紀元前3千年紀から紀元前1千年紀まで) では楔形文字が使われていた. 数字の構成要素は単純で,  1 から 9 までの数を縦楔で表し,  10毎に横弓にまとめて漢字の編の位置に置く. この構成で 1 から 59 までを表す60進法を採用していた. ゼロはなく, 位取りで空位の桁はそのまま空欄で表現していたが, 時代が下ると, その位置に空位であることを表す記号が使われるようになったと言われている.

Plimpton322は数字が整然と配置されており, 横罫も描かれているので, 数表であることは明らかだが, バビロニアの数学的背景がわからないと数学的解読は難しい. 右端は昇順で行番号が振られている. 左端は桁数の大きな数字が並んでいるが, 左上に大きな欠落があるため一貫した判読は難しい. 鮮明に残っていて判読可能な中程の二列を抜き出す.

In [15]:

import numpy as np

In [5]:
res;

In [8]:
df0.iloc[:,1].values

array(['1 59', '56 07', '1 16 41', '3 31 49', '1 05', '5 19', '38 11',
       '13 19', '9 01 [8] 01', '1 22 41', '45', '27 59', '7 12 01 [2 41]',
       '29 31', '56 56 [28] (alt.)'], dtype=object)

In [36]:
l1 = []
for s in df0.iloc[:,1].values:
    try:
        l1.append(list(map(int, s.split())))
    except:
        l1.append([0])
l1

[[1, 59],
 [56, 7],
 [1, 16, 41],
 [3, 31, 49],
 [1, 5],
 [5, 19],
 [38, 11],
 [13, 19],
 [0],
 [1, 22, 41],
 [45],
 [27, 59],
 [0],
 [29, 31],
 [0]]

In [37]:
l2 = []
for s in df0.iloc[:,2].values:
    try:
        l2.append(list(map(int, s.split())))
    except:
        l2.append([0])
l2

[[2, 49],
 [0],
 [1, 50, 49],
 [5, 9, 1],
 [1, 37],
 [8, 1],
 [59, 1],
 [20, 49],
 [12, 49],
 [2, 16, 1],
 [1, 15],
 [48, 49],
 [4, 49],
 [53, 49],
 [0]]

In [34]:
def N_to_Dec(digits, base=60):
    num = 0
    for digit in digits:
        num = num * base + digit
    return num

In [29]:
from functools import reduce

In [30]:
base=60
reduce(lambda num, digit: num * base + digit, [1,59])

119

In [31]:
[reduce(lambda num, digit: num * base + digit, n) for n in l]

[119, 3367, 4601, 12709, 65, 319, 2291, 799, 0, 4961, 45, 1679, 0, 1771, 0]

In [39]:
list(zip([N_to_Dec(d) for d in l1], [N_to_Dec(d) for d in l2]))

[(119, 169),
 (3367, 0),
 (4601, 6649),
 (12709, 18541),
 (65, 97),
 (319, 481),
 (2291, 3541),
 (799, 1249),
 (0, 769),
 (4961, 8161),
 (45, 75),
 (1679, 2929),
 (0, 289),
 (1771, 3229),
 (0, 0)]